/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
fig.yml
Dockerfile
/public/assets/*
!/public/assets/app
/public/assets/app/js/compiled/*
!/public/assets/app/js/compiled/.gitkeep
