body {
    font-family: 'Droid Sans', sans-serif;
}

.timer-big {
    padding: 0 8rem;
    text-align: center;
}

.timer-big .name {
	font-size: 8rem;
}

.timer-container {
    text-align: right;
}

.timer {
    font-family: 'Droid Sans Mono', monospace;
}

.timer-big .timer {
	font-size: 14rem;
	font-weight: bold;
}

.timer-big .target {
	font-size: 2rem;
}

button.unstyled {
    border : 0;
    border-radius:0;
    background-color: transparent;
    color: #008CBA;
    margin: 0;
    padding: 0;
}

button.unstyled:focus, button.unstyled:hover {
    color: #0078A0;
}
